<!DOCTYPE html>
<head>
    <title>devdata</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script></head>
    <style>
    .container {
        width: 90%;
        text-align: center;
        margin: auto;
    }
    p {font-family: "Segoe UI", sans-serif;}
    .profile {
        width: 100px;
        height: 100px;
        border-radius: 30px;
        border: none;
    }

    </style>
<body>
<div id="app-5" class="container">
    <input v-on:input="find_data" v-model="user" placeholder="edit me">
    <p>{{ res.name }}</p>
    <p>{{ res.bio }}</p>
    <p>{{ res.blog }}</p>
    <img :src="res.avatar_url" class="profile">
    <h1 v-if="res.bio != undefined">Repos</h1>
    <li v-for="repo in repos">
            {{ repo.full_name }}
    </li>
</div>
<script>
    let vue = new Vue({
        el: '#app-5',
        data: {
            user: 'Uzay-',   
            url: "https://api.github.com/users/Uzay-G",
            res: {},
            repos: [],
            repos_url: "https://api.github.com/users/Uzay-G/repos"
        },
        methods: {
            find_data: function() {
                this.url = "https://api.github.com/users/" + this.user
                axios.get(this.url, {headers: {
                    Authorization: "Basic Uzay-G:chishluuh78"
                    }})
                .then(response => this.res = response.data
                    )
                this.url = "https://api.github.com/users/" + this.user + "/repos"
                axios.get(this.repos_url, {headers: {
                Authorization: "Basic ********"
                }})
                .then(
                    response => this.repos = response.data
                   // response => console.log(response)
                    )
                console.log(this.repos)
            }
        }
    })
</script>
</body>